<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()">
      <mat-icon>assignment</mat-icon>
      <span class="nav-caption">Sign Up</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
      <mat-icon>fingerprint</mat-icon>
      <span class="nav-caption">Login</span>
    </a>
    <a mat-list-item routerLink="/representative" (click)="onClose()">
      <mat-icon>face</mat-icon>
      <span class="nav-caption">Representative</span>
    </a>
    <mat-list-item>
      <button mat-icon-button (click)="onClose()">
        <mat-icon>eject</mat-icon>
        <span class="nav-caption">Logout</span>
      </button>
    </mat-list-item>
  </mat-nav-list>
