<mat-tab-group>
  <mat-tab label="Your Representatives">
    <app-my-representatives></app-my-representatives>
  </mat-tab>
  <mat-tab label="All Representatives">
    <section class="representative" fxLayout fxLayoutAlign="center">
      <mat-card fxFlex.xs="100%" fxFlex="400px">
        <img mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu">
          <mat-card-content >
            <p>Shiba Hiroue Inu</p>
            <p>Senator</p>
          </mat-card-content>
        <mat-card-footer class="representative-actions"
          fxLayoutGap="50px" fxLayoutAlign="center">
          <mat-card-actions>
            <button type="submit" mat-button color="primary">Bio</button>
          </mat-card-actions>
          <mat-form-field>
            <mat-select placeholder="Options">
              <mat-option value="contact">
                Contact
              </mat-option>
              <mat-option value="view-vote-history">
                  View Vote History
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-footer>
      </mat-card>
    </section>
  </mat-tab>
</mat-tab-group>
