<mat-tab-group>
  <mat-tab label="Your Representatives">
    <app-my-representatives></app-my-representatives>
  </mat-tab>
  <mat-tab label="All Representatives" >
    <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
    <section *ngIf="!isLoading"
      class="representative"
      fxLayout="row"
      fxLayoutAlign="center"
      fxLayoutGap="20px"
      fxLayout.lt-sm="column">
      <mat-card *ngFor="let member of representatives"
        fxFlex="shrink">
        <img mat-card-image
          src="{{member.image}}"
          alt="Photo of a representative">
        <mat-card-content>
          <p>{{member.name}}</p>
          <p>{{member.title}}</p>
        </mat-card-content>
        <mat-card-footer>
          <mat-card-actions>
            <button type="submit" mat-button color="primary">Bio</button>
            <mat-form-field>
              <mat-select placeholder="Options">
                <mat-option value="contact">
                  Contact
                </mat-option>
                <mat-option value="view-vote-history">
                  View Vote History
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </section>
  </mat-tab>
</mat-tab-group>
